.search .mint-button{
  background-color:#fff;
  border-radius:0;
  width:100%;
  color:#646464;
 }
 .search .mint-button::after{
   background-color: transparent;
 }
 .mint-button{
  background-color:#000;
  color:#fff;
  border-radius:0;
  outline:0;
  box-shadow:0 0;
  font-size:0.8rem;
  font-weight:300;
 }
 /* .mint-button--default {
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
} */